.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
*.swp
.DS_Store
.vscode/
*.code-workspace
.metadata
.flutter-plugins-dependencies
pubspec.lock
